<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="modules/bootstrap/css/bootstrap-theme.min.css">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" type="text/css" href="modules/bootstrap.datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="css/app.css">
    <!-- Original CSS -->
    <style>
    </style>
  </head>
  <body>
    <nav id="Header" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#MenuCollapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-text">Work Automating</p>
        </div>

        <div class="collapse navbar-collapse" id="MenuCollapse">
          <ul class="nav navbar-nav">
            <li id="SendReport"><a>Send Report</a></li>
            <li id="ReadReport"><a>Read Reports</a></li>
            <li id="fix1"><a>Link</a></li>
            <li id="fix2"><a>Link</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a>Link‚ ‚ ‚ ‚ </a></li>
            <li><a>Link</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
    <!-- view Supports -->
    <div id="LoadFrame">
      <div>
        <img src="resource/load.gif" alt="loaging...">
        <br>
        <p>please wait. loading submodules ...</p>
      </div>
    </div>
    <button id="AuthButton" class="btn btn-default" style="display:none;">
      Start Gadget
    </button>
    <div id="Filter"></div>
    <!-- view Supports -->

    <div id="Main" class="container">
    </diiv>

    <footer id="Footer"></footer>

    <script type="text/html" id="template-SendReport">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Daily Report Draft</h3>
            </div>
            <div class="panel-body">
              <textarea id="Report-Content" class="form-control" rows="10"></textarea>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" id="Report-Send" class="btn btn-default">Send</button>
                <button type="button" id="Report-Reset" class="btn btn-default">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Daily Report Preview</h3>
            </div>
            <div class="panel-body">
              to : <pre><%- to %></pre>
              cc : <pre><%- cc %></pre>
              title : <pre><%- subject %></pre>
              body : <pre id="Report-Preview"><%- body %></pre>
            </div>
          </div>
        </div>
      </div> 
    </script>
    <script type="text/html" id="template-ReadReport">
      <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
          <div class="input-group date" data-provide="datepicker">
            <input type="text" class="form-control" readonly="readonly">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div id="ReportContainer" class="col-md-10 col-md-offset-1"></div>
      </div>
    </script>
    <script type="text/html" id="template-ReadReportItem">
      <div class="panel panel-default">
        <div class="panel-heading"><%- author %></div>
        <div class="panel-body"><pre><%- content %></pre></div>
      </div>
    </script>
    
    <!-- Load Scripts -->
    <!-- vendor libraries -->
    <script src="modules/jquery/dist/jquery.js"></script>
    <script src="modules/underscore/underscore.js"></script>
    <script src="modules/backbone/backbone.js"></script>
    <script src="modules/backbone.localstorage/backbone.localStorage.js"></script>
    <script src="modules/backbone.marionette/lib/backbone.marionette.js"></script>
    
    <script src="modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="modules/bootstrap.datepicker/js/bootstrap-datepicker.min.js"></script>

    <!-- application -->
    <!-- Common -->
    <script src="js/Common/Common.js"></script>
    <script src="js/Common/base64.js"></script>

    <script src="js/Core/WorkGadget.View.RootLayoutView.js"></script>
    <script src="js/Core/WorkGadget.View.Header.js"></script>
    
    <!-- Send Report-->
    <script src="js/SendReport/WorkGadget.Model.SendReport.js"></script>
    <script src="js/SendReport/WorkGadget.View.SendReport.js"></script>
    
    <!-- Read Report-->
    <script src="js/ReadReport/WorkGadget.Model.ReadReport.js"></script>
    <script src="js/ReadReport/WorkGadget.View.ReadReport.js"></script>
    
    <script src="js/Core/WorkGadget.Router.js"></script>
    <script src="js/Core/WorkGadget.js"></script>


    <!-- Google Api Faced -->
    <script src="js/GoogleApi/setting.js"></script>
    <script src="js/GoogleApi/mail.js"></script>
    <script src="js/GoogleApi/calendar.js"></script>
    <script src="js/GoogleApi/user.js"></script>

    <!-- Google Api must call at last because it kicks main method -->
    <script src="https://apis.google.com/js/client.js?onload=main"></script>
  </body>
</html>



